<footer class="animate__animated animate__fadeInUp">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <p>
      г. Урюпинск, Волгоградской области, улица Животноводства, 6
      <br>
      Телефон: 8(844)422-10-10
      </p>
      <p>&copy Урюпинский зоопарк</p>
    </div>
  </nav>
</footer>
