
<div class="desc card col-7 animate__animated animate__fadeInLeft">
  <div class="card-body" style="text-align: justify;">
    <img id="mainFox" src="/img/imgbin_fox-png.png" alt="" style="text-align: justify;">
    <br>
    Рады вас приветствовать на сайте Урюпинского зоопарка!
    <br>
    <br>
    Урюпинский Зоопарк - крупнейший зоопарк ландшафтного типа в России. В зоопарке более 450 видов животных, содержащихся в максимально приближенных к естественным условиям обитания. На территории зоопарка работает учебно-демонстрационный центр "Ковчег", где есть "контактные" зоны, где все желающие могут поближе познакомиться с некоторыми животными. Экзотических животных из Африки, Южной Америки, Австралии, Азии вы можете увидеть в "Экзотариуме", который представляет из себя имитацию древнего города, затерянного в глухом тропическом лесу.
  </div>
</div>
